In [2]:
# Basics commands of Pyspark
#Installing pyspark library
pip install pyspark

Requirement already satisfied: pyspark in c:\users\niral\anaconda3\lib\site-packages (3.3.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: py4j==0.10.9.5 in c:\users\niral\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [3]:
#Importing pyspark module
import pyspark

In [11]:
#Importing SparkSession which is a higher-level API for interacting with Spark and 
# represents the entry point for using Spark functionalities
from pyspark.sql import SparkSession

In [12]:
#Building an application
spark=SparkSession.builder.appName('nirali').getOrCreate()

In [13]:
spark

In [44]:
# This will create the spark df
spark_df=spark.read.csv('nirali_pyspark_test1.csv')

In [43]:
spark_df.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    name|age|
|  nirali| 25|
|fernando| 19|
| shovon | 30|
| gautam | 23|
|  akshat| 23|
+--------+---+

In [46]:
# To make the first row as a header
spark_df=spark.read.option('header','true').csv('nirali_pyspark_test1.csv')

In [47]:
spark_df.show()

+--------+---+
|    name|age|
+--------+---+
|  nirali| 25|
|fernando| 19|
| shovon | 30|
| gautam | 23|
|  akshat| 23|
+--------+---+

In [48]:
# The type of df is pyspark
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [49]:
# Showing top 3 records
spark_df.head(3)

[Row(name='nirali', age='25'),
 Row(name='fernando', age='19'),
 Row(name='shovon ', age='30')]